:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-title: hsl(212, 45%, 89%);
  --clr-background: hsl(220, 15%, 55%);
  --clr-outline: hsl(218, 44%, 22%);

  --ff-accent:'Fraunces', serif;
  --ff-base:'Montserrat', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}