/* Custom properties */

:root {
  --clr-card-background: hsl(0, 0%, 100%);
  --clr-page-background: hsl(212, 45%, 89%);
  --clr-text: hsl(220, 15%, 55%);
  --clr-title: hsl(218, 44%, 22%);

  --ff-accent:'Fraunces', serif;
  --ff-base:'Montserrat', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* General styling */

body {
  font-family: var(--ff-base);
  font-weight: var(--ff-regular);
  font-size: 0.875rem;
  background-color: var(--clr-page-background);
  display: flex;
  min-height: 100vh;
  place-content: center;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 330px;
  background: var(--clr-card-background);
  border-radius: 20px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

img {
  margin: auto;
  display: flex;
  max-width: 100%;
  border-radius: 10px;
}

.title {
  font-weight: var(--fw-bold);
  color: var(--clr-title);
  text-align: center;
  font-size: 1.3rem;
  line-height: 28px;
  margin: auto;
  padding-top: 1rem;
}

.description {
  font-weight: var(--fw-regular);
  color: var(--clr-text);
  text-align: center;
  font-size: 0.875rem;
  line-height: 19px;
  letter-spacing: 0.1875px;
  margin: auto;
  padding: 1.5rem 0;
  max-width: 100%;
}
